@import '../../style-vars.scss';

.story-outer-wrapper {
    padding: 1px 0;
}


/* ================================
    POST NAVIGATION
================================= */
$post-nav-breakpoint: 550px;
.story-nav-links-wrapper {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    width: 95%;
    max-width: 280px;
    margin: 25px auto;
    padding: 10px 0;

    &:before,
    &:after {
        content: " ";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        display: block;
        width: 60%;
        height: 1px;

        background-color: rgb(220, 220, 220);
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }

    @media screen and (min-width: $post-nav-breakpoint) {
        max-width: 580px;
    }
}
.story-nav-links-wrapper.top {}
.story-nav-links-wrapper.bottom {}

.post-nav-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 200px;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        font-weight: bold;
    }
}
.post-nav-link.return {
    display: none;
    padding-top: 5px;
    @media screen and (min-width: $post-nav-breakpoint) {
        display: block;
    }
}
.post-nav-link-text {
    padding-top: 5px;
}


.post-nav-chevron {
    display: block;
    width: 12px;
    height: 12px;
}
                   

/* ================================
    PREFACE
================================= */
.preface-wrapper {}
.preface-title-wrapper {}
.preface-title, 
.preface-sub-title {
    font-family: $font-secondary;
}
.preface-title {
    text-align: center;
    font-size: 18px;
}
.preface-sub-title {
    color: rgb(120, 120, 120);
    text-align: center;
    font-size: 16px;
    font-family: $font-secondary;
}
.preface-content-wrapper {}

/* ================================
    STORY
================================= */
.story-wrapper {
    max-width: 850px;
    padding: 4vw 10px;
    @media screen and (min-width: 840px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.story-title-wrapper {
    max-width: 600px;
    margin: auto
}
.story-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.written-by {
    width: 100%;
    text-align: right;
    font-size: 18px;

}
.story-content {
    width: 98%;
    max-width: 650px;
    margin: auto;
}

/* ================================
    POSTFACE
================================= */
.postface-wrapper {}
.postface-content-wrapper {}


/* ================================
    GENERAL
================================= */
.preface-wrapper,
.story-wrapper,
.postface-wrapper {
    width: 96%;
    margin: 25px auto;
    background-color: white;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,.4);
}

.preface-wrapper,
.postface-wrapper {
    max-width: 600px;
    padding: 25px 0;
}

.preface-content-wrapper,
.postface-content-wrapper {
    width: 98%;
    max-width: 550px;
    margin: auto;
}

.preface-title, 
.story-title {
    
}