
/*
font-family: 'Buenard', serif;
font-family: 'Karma', serif;
font-family: 'Lusitana', serif;
font-family: 'Trocchi', serif;
*/
$font-primary:  'Karma', serif;

/*
font-family: 'Rubik', sans-serif;
*/
$font-secondary: 'Rubik', sans-serif;

$color-bg: rgb(250, 250, 250);
$color-text: rgb(10, 10, 10);

$color-primary: #1C1221;
